/* Your CSS Code here. */
.flex-container{
	display:flex;
	justify-content:center;
	flex:wrap;
}
#flex-item1{
	background-color:green;
	height:100px;
	width:100px;}
#flex-item2{background-color:red;
	height:100px;
	width:100px;
	}
#flex-item3{background-color:blue;
	height:100px;
	width:100px;
	}
